/********************************************************/
/*** general ***/

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  background-color: var(--bg-white);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/********************************************************/
/*** colors & fontweight***/

:root {
  --c-bg-header: rgba(0, 125, 250, 0.87);

  --c-btn-white: #fffafa;
  --c-btn-blue: #007dfa;
  --c-bg-footer: #343434;
  --c-footer: #ffffff;
  --fw-nav-items: 600;

  --tx-black: #0b0a0b;
  --tx-white: #fffafa;

  --bg-white: #fffafa;
  --bg-blue: rgba(0, 125, 250, 0.06);
  --bg-yellow: rgba(255, 255, 0, 0.17);
  --bg-yellow-secondary: rgba(255, 255, 0, 0.41);
  --bg-black: #343434;
  --bg-nav-blue: rgba(0, 125, 250);
}

/***************** btn style/ link Spendengala **********************/

.btn_style {
  background-color: transparent;
  color: var(--bg-btn);
  border: 2px solid var(--bg-btn);
  border-radius: 2px;
  padding: 0.5rem;
  width: 8rem;
}

.btn_style:hover {
  color: white;
  background-color: #007dfa;
}

.btn_style--white {
  background-color: transparent;
  color: var(--c-btn-white);
  border: 2px solid var(--c-btn-white);
  border-radius: 2px;
  padding: 0.5rem;
  width: 8rem;
}

.btn_style--white:active {
  color: var(--tx-black);
  background-color: var(--c-btn-white);
}

.style_without_push {
  text-decoration: none;
  color: var(--bg-btn);
}

/********************************************************/
/*** header and navigation***/

.header {
  background-color: var(--bg-nav-blue);
  position: sticky;
  top: 0;
  z-index: 2;
}

.navigation__logo {
  max-height: 3rem;
}

.nav-menu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: var(--tx-white);
  text-decoration: none;
  transition: 0.7s ease;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--tx-white);
}

/*** media query for header and navigation ***/

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--bg-nav-blue);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/** About Page Styling **/

.au_content {
  margin: 0 auto;
  max-width: 90rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

li {
  list-style: none;
}

.au_white_background {
  background-color: var(--bg-white);
}

.au_blue_background {
  background-color: var(--bg-blue);
}
/** font style **/

.au_content__header {
  font-weight: 700;
  font-size: 3.4rem;
  margin: 0;
}

.au_content__subheader {
  font-weight: 600;
  font-size: 1.5rem;
}

.au_content__para {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 3rem;
  flex: 1;
}

/** Grid and Flex **/

.au_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.au_article_wrapper {
  width: 100%;
}

.au_text__section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 4rem;
  max-width: fit-content;
}

.au_text__section__flexbox {
  display: flex;
  flex-direction: column;
}

.au_img__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.au_img__section_small {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 2rem;
}
.au_header__wrapper {
  padding-left: 4rem;
  padding-top: 3rem;
}
.au_flexbox {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.au_certificate_content {
  display: grid;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.au_padding_bottom {
  padding-bottom: 1.5rem;
}

/** Image Style **/

.au_certificate__img {
  max-width: 30rem;
  max-height: 36rem;
}

.au_mobile_img {
  display: none;
}

/** Button Style **/
.button__container {
  position: absolute;
  right: 10rem;
}

.btn_style {
  background-color: transparent;
  color: var(--c-btn);
  border: 2px solid var(--c-btn);
  border-radius: 2px;
  padding: 0.5rem;
  width: 8rem;
  max-height: 2.5rem;
}

.btn_style:hover {
  color: white;
  background-color: #007dfa;
}

/** Media Query **/

@media only screen and (max-width: 768px) {
  .au_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .au_img__section {
    display: none;
  }
  .au_img__section_small {
    display: none;
  }
  .au_mobile_img {
    display: block;
  }
  .au_certificate_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .au_certificate_preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .au_content__para {
    font-size: 0.8rem;
  }
  .au_content__header {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
  }
  .au_content__subheader {
    font-size: 1rem;
  }
  .au_content__para {
    padding: 1.5rem;
  }
  .au_text__section {
    padding-left: 0;
  }
  .au_header__wrapper {
    padding-top: 3rem;
    padding-left: 0;
  }
}

/** About Page Styling End **/
/*
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
*/
/********************************************************/
/*** hero section ***/

.home-page__content-section {
  display: flex;
  justify-content: center;
}

.hero-section {
  height: 90vh;
  width: 100%;
}

.hero-section__image-mobile {
  max-width: 100%;
}

.hero-section__header {
  max-width: 25rem;
  padding: 1.188rem 2.313rem 1rem 2.313rem;
}

.hero-section__overline {
  font-size: 0.75rem;
  font-weight: 600;
}

.hero-section__heading {
  font-size: 2rem;
  font-weight: 700;
  max-width: 14ch;
  line-height: 2.375rem;
}

.hero-section__small {
  font-size: 0.75rem;
  width: 45ch;
  margin-bottom: 1rem;
  line-height: 1rem;
}

.hero-section__image {
  display: none;
}

.hero-section__campaign {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "text" "heading" "button";
  background-color: var(--bg-nav-blue);
  max-width: 25rem;
  padding: 1.563rem 1.625rem 2rem 2.313rem;
  margin-bottom: 2.563rem;
}

.campaign__overline {
  grid-area: text;
  justify-self: start;
  margin: 0;
}

.campaign__heading {
  grid-area: heading;
  justify-self: center;
  font-size: 2.5rem;
  margin: 0;
}

.campaign__button {
  grid-area: button;
  justify-self: end;
  margin-top: 1.5rem;
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .hero-section__image-mobile {
    display: none;
  }

  .home-page__content-section {
    min-height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .hp-bg--yellow {
    background-color: var(--bg-yellow);
  }
  .hero-section {
    max-height: 52.938rem;
    height: inherit;
    padding-top: 2rem;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header image"
      "campaign campaign";
    column-gap: 2rem;
    row-gap: 4rem;
    grid-auto-rows: minmax(min-content, max-content);
  }

  .hero-section__header {
    max-width: 31.438rem;
    grid-area: header;
    justify-self: start;
    padding: 0;
  }

  .hero-section__overline {
    display: inline-block;
    font-size: 1.25rem;
    margin: 0;
    line-height: 3rem;
  }

  .hero-section__heading {
    font-size: 3.438rem;
    margin: 0 0 1rem 0;
    line-height: 4.688rem;
    max-width: inherit;
  }

  .hero-section__small {
    font-size: 0.875rem;
  }

  .hero-section__campaign-wrapper {
    grid-area: campaign;
  }

  .hero-section__campaign {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "text" "heading" "button";
    background-color: #797979;
    max-width: 33.313rem;
    max-height: 16.125rem;
    padding: 2.875rem 3.188rem 3.438rem 3.375rem;
    _margin-top: 4.688rem;
    flex-grow: 1;
  }

  .hero-section__image {
    display: block;
    grid-area: image;
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
  }

  .campaign__overline {
    font-size: 1.25rem;
  }

  .campaign__heading {
    font-size: 2.625rem;
  }

  .campaign__button {
    grid-area: button;
    justify-self: end;
    margin-top: 2.313rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1040px) {
  .hero-section {
    padding-top: 4rem;
    padding-left: 7.438rem;
    max-width: 90rem;
    grid-template-areas:
      "header image"
      "campaign image";
    column-gap: 3rem;
    row-gap: 0;
  }

  .hero-section__heading {
    font-size: 3.438rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
    line-height: 4.688rem;
  }

  .hero-section__campaign-wrapper {
    display: flex;
  }

  .hero-section__campaign {
    margin-top: 4.688rem;
    flex-grow: 1;
    max-width: 36rem;
  }
}

/********************************************************/
/*** gala section ***/

.gala-section {
  padding-top: 2.813rem;
  margin-bottom: 14.313rem;
  background-color: #f8f5f5;
  height: 70rem;
}

.gala-text__overline {
  margin-left: 2.313rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.gala-text__heading {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 2.313rem;
  margin-bottom: 0.563rem;
}

.gala-text__dates-container {
  background-color: #2f2b2f;
  padding-left: 2.688rem;
  max-height: 3.188rem;
  max-width: 19.938rem;
  margin-bottom: 1.875rem;
}

.gala-text__dates {
  font-size: 0.875rem;
  color: white;
  display: inline-block;
  padding: 0.813rem 0.5rem 0.813rem 0;
}

.gala-text--bold {
  font-weight: 600;
}

.gala-image-mobile {
  max-width: 100%;
  border: 0.5rem solid var(--bg-white);
}

.gala-text__location {
  font-size: 1.125rem;
  margin-top: 2.438rem;
  margin-left: 2.313rem;
  line-height: 1.2rem;
}

.gala-text__location-details {
  font-size: 0.75rem;
  color: #2f2b2f99;
  margin-left: 2.313rem;
  margin-bottom: 1.875rem;
}

.gala-text__description {
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-left: 4rem;
  max-width: 16.438rem;
}

.gala-image-one {
  display: none;
}

@media screen and (min-width: 768px) {
  .gala-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 85vh;
    background-color: transparent;
    margin-top: 2rem;
    padding-top: 4.813rem;
    gap: 2rem;
  }

  .gala-text {
    max-width: 38.813rem;
    margin-top: 3rem;
  }

  .gala-text__overline {
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.04em;
    margin-left: 2rem;
    padding-left: 0.5rem;
  }

  .gala-text__heading {
    font-weight: 700;
    font-size: 3.438rem;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-bottom: 1rem;
    line-height: 3.5rem;
  }

  .gala-text__dates-container {
    background-color: var(--tx-black);
    padding-left: 2rem;
    max-height: 3.188rem;
    max-width: 37.5rem;
    min-width: 29rem;
  }

  .gala-text__dates {
    font-size: 1.25rem;
    color: var(--tx-white);
    display: inline-block;
    padding: 0.75rem 2.125rem 0.75rem 0;
  }

  .gala-text--bold {
    font-weight: 600;
  }

  .gala-image-mobile {
    display: none;
  }

  .gala-text__location {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
  }

  .gala-text__location-details {
    font-size: 0.875rem;
    color: #2f2b2f99;
    margin-left: 2rem;
    margin-bottom: 1.875rem;
  }

  .gala-text__description {
    margin-top: 1.875rem;
    margin-left: 2rem;
    max-width: 18.75rem;
  }

  .gala-image-one {
    display: block;
    justify-self: center;
    align-self: center;
    max-width: 100%;
  }
}

@media screen and (min-width: 1040px) {
  .gala-section {
    gap: 3rem;
  }

  .gala-text__overline {
    margin-left: 7.188rem;
  }

  .gala-text__heading {
    margin-left: 7.188rem;
  }

  .gala-text__dates-container {
    padding-left: 7.188rem;
    min-width: 33.438rem;
  }

  .gala-text__location {
    margin-left: 7.188rem;
  }

  .gala-text__location-details {
    margin-left: 7.188rem;
  }

  .gala-text__description {
    margin-left: 7.188rem;
  }
}
/***************** btn style/ link Spendengala **********************/

.btn_style {
  background-color: transparent;
  color: var(--c-btn-blue);
  border: 2px solid var(--c-btn-blue);
  border-radius: 2px;
  padding: 0.5rem;
  width: 8rem;
}

.btn_style:hover {
  color: var();
  background-color: var(--c-btn-blue);
}

/************************** direkt spenden seite  ***/

.main_size {
  max-width: 90rem;
}

.direktspenden_h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4rem;
  padding-left: 10rem;
  color: var(--c-text);
  margin-top: 5rem;
}

.infobox_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 4rem;
  color: var(--c-text);
}

.text_headline {
  margin-left: 3rem;
}
.text_information {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.55rem;
  color: var(--c-text);
  margin-left: 2rem;
  padding: 2rem;
}

.btn_style {
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 2rem;
  padding: 3rem 10rem 3rem;
}

.img_paypal {
  max-width: 10rem;
  max-width: 13rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.bank_contact {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-left: 3rem;
}

.bank_paypal {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-left: 3rem;
}

.text_right {
  margin-left: 1.5rem;
}

.bank_bg {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-blue);
  max-height: 40rem;
  max-width: 35rem;
}

.btn_social_container {
  margin-left: 3rem;
  padding-right: 0.25rem;
  padding-bottom: 3rem;
}

.img_btn {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.25rem;
}

.contact_bg {
  background-color: var(--bg-blue);
  max-height: 38rem;
  max-width: 35rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.box_logo_unna60 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unna60 {
  max-width: 32rem;
  max-height: 15rem;
  padding: 2rem;
}

.maus-unna60 {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
  }

  .direktspenden_h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 4rem;
    color: var(--c-text);
  }
  .bank_bg {
    margin-top: 3rem;
  }
}

/********************************************************/
/*** erreichtes ***/
.h2-banner {
  margin: 0;
}

.first-section {
  padding-bottom: 2rem;
}

.first-banner {
  background-color: var(--bg-yellow-secondary);
  margin: 2rem 27rem 2rem 0rem;
  padding: 0.5rem 0rem 0.5rem 15rem;
}

.div-flex {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: center;
  text-align: center;
}

.div-summe {
  margin: 1rem;
  background-color: var(--bg-blue);
  width: 20%;
  padding: 2rem;
  box-shadow: 0px 5px 5px lightblue;
}

.div-personen {
  margin: 1rem;
  background-color: var(--bg-blue);
  width: 20%;
  padding: 2rem;
  box-shadow: 0px 5px 5px lightblue;
}

.div-lieferungen {
  margin: 1rem;
  background-color: var(--bg-blue);
  width: 20%;
  padding: 2rem;
  box-shadow: 0px 5px 5px lightblue;
}

/************************************/

.second-banner {
  background-color: var(--bg-yellow-secondary);
  margin: 2rem 0rem 2rem 14rem;
  padding: 0.5rem 12rem 0.5rem 3rem;
}

table {
  border-spacing: 10px;
  table-layout: auto;
  text-align: center;
  width: 100%;
}

th {
  background-color: aliceblue;
  padding: 0.5rem;
}

td {
  background-color: aliceblue;
  border-collapse: collapse;
  width: 25%;
  padding: 1rem 2.5rem 1rem 2rem;
}

tr {
  padding: 10rem;
  width: 100%;
}

.tabelle {
  margin: 3rem 14rem 3rem 14rem;
}

/*******************************************/

.section-video {
  background-color: rgba(0, 125, 250, 0.06);
  margin-top: 5rem;
  padding: 2rem 5rem 2rem 10rem;
}

/********************************************/

@media screen {
}

/********************************************************/
/*** footer ***/

.footer {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "address"
    "fundraiser"
    "navigation"
    "bootcamp";
  font-size: 0.875rem;
  line-height: 1.3rem;
  color: var(--tx-white);
  background-color: var(--c-bg-footer);
  padding-bottom: 7.625rem;
}

.footer__heading {
  font-weight: 700;
  font-size: inherit;
}

.footer__line {
  width: 80%;
  max-width: 20rem;
}

.footer__line--small {
  width: 80%;
  max-width: 2.438rem;
}
/*** address details ***/

.footer-address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: address;
  justify-self: center;
  align-self: center;
  width: 100%;
  margin-top: 3.5rem;
}

.footer-address-wrapper > address {
  font-style: normal;
}

.footer__social-media {
  text-align: center;
}

.social-media__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0.8rem 0 1.5rem 0;
  gap: 1.688rem;
}

.social-media__icon:hover,
.social-media__icon:active {
  transform: scale(1.2);
  transition: 0.1s ease-in-out;
}

.footer__adress {
  text-align: center;
  margin-bottom: 1.5rem;
}

.footer__contact {
  text-align: center;
  margin-bottom: 3.25rem;
}

.footer__link {
  color: var(--tx-white);
  text-decoration: none;
}

/*** fundraiser ***/

.footer__fundraiser {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: fundraiser;
  justify-self: center;
  align-self: center;
  width: 100%;
  margin-top: 1.813rem;
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__fundraiser-logo {
  margin-top: 0.5rem;
  margin-bottom: 2.313rem;
}

.footer__fundraiser-button {
  margin-bottom: 1rem;
}

.footer__fundraiser-gala {
  font-size: 1rem;
  text-decoration: none;
  color: var(--tx-white);
  font-weight: 600;
  margin-bottom: 1.438rem;
}

/*** navigation ***/

.footer__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: navigation;
  justify-self: center;
  align-self: center;
  width: 100%;
  margin-top: 2.813rem;
}

.footer__navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.footer__navigation-link {
  text-decoration: none;
  color: var(--tx-white);
}

.footer__navigation-link:hover,
.footer__navigation-link:active {
  transform: scale(1.2);
  transition: 0.1s ease-in-out;
}

/*** bootcamp ***/

.footer__bootcamp {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  grid-area: bootcamp;
  justify-self: center;
  align-self: center;
  width: 100%;
  margin-top: 2.875rem;
}

.footer__attendees-text {
  max-width: 16.875rem;
  text-align: center;
  margin-top: 1.438rem;
}

.footer__attendees--modifier {
  font-weight: 600;
}

.footer__heart {
  margin: 1rem 0;
}

.footer__development {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 1.625rem;
  row-gap: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1.875rem;
}

.footer__devs--left {
  justify-self: end;
}

.footer__devs--right {
  justify-self: start;
}

.footer__development-link {
  text-decoration: none;
  color: var(--tx-white);
}

.footer__design {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "bootcamp navigation fundraiser address";
    justify-items: start;
    align-items: start;
    padding: 3.875rem 5rem 2.063rem 7.188rem;
    font-size: 1rem;
  }

  .footer__line {
    display: none;
  }

  .footer__line--small {
    display: none;
  }

  .footer__attendees {
    width: 20ch;
    margin-top: 0.8rem;
  }

  .footer__navigation {
    grid-area: navigation;
    justify-self: start;
    align-self: start;
    font-size: 0.875rem;
    margin: 0;
  }

  .footer__navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.563rem;
  }

  .footer__fundraiser {
    align-self: start;
    margin: 0;
  }

  .footer__logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 18.75rem;
    max-width: fit-content;
  }

  .footer-address-wrapper {
    grid-area: address;
    justify-self: start;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 1.563rem;
    font-style: normal;
    margin: 0;
  }

  .footer-address-wrapper > address {
    font-style: normal;
  }

  .social-media__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0.5rem 0;
    gap: 1.688rem;
  }

  .social-media__list > * :hover {
    transform: scale(1.3);
    transition: 0.1s;
  }

  .footer__link {
    color: var(--tx-white);
    text-decoration: none;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .footer__bootcamp {
    grid-area: bootcamp;
    justify-self: start;
    align-self: start;
    margin-top: 0;
  }
}
