/********************************************************/
/*** general ***/

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/********************************************************/
/*** colors & fontweight***/

:root {
  --c-bg-header: lightgrey;
  --bg-blue: rgba(0, 125, 250, 0.06);
  --bg-white: #fffafa;
  --bg-black: #343434;

  --tx-black: #0b0a0b;
  --tx-white: #fffafa;

  --bg-nav-blue: rgba(0, 125, 250, 0.87);

  --c-btn: #007dfa;

  --fw-nav-items: 600;
}

/********************************************************/

/********************************************************/
/*** header and navigation***/

.header {
  background-color: var(--bg-nav-blue);
}

.navigation__logo {
  max-height: 3rem;
}

.nav-menu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #2f2b2f;
  text-decoration: none;
  transition: 0.7s ease;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2f2b2f;
}

/*** media query for header and navigation ***/

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--c-bg-header);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/** About Page Styling **/

.au_content {
  max-width: 90rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

li {
  list-style: none;
}

.au_white_background {
  background-color: var(--bg-white);
}

.au_blue_background {
  background-color: var(--bg-blue);
}
/** font style **/

.au_content__header {
  font-weight: 700;
  font-size: 3.4rem;
  margin: 0;
}

.au_content__subheader {
  font-weight: 600;
  font-size: 1.5rem;
}

.au_content__para {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 3rem;
  flex: 1;
}

/** Grid and Flex **/

.au_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.au_text__section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 4rem;
  max-width: fit-content;
}

.au_text__section__flexbox {
  display: flex;
  flex-direction: column;
}

.au_img__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.au_img__section_small {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 2rem;
}
.au_header__wrapper {
  padding-left: 4rem;
  padding-top: 3rem;
}
.au_flexbox {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.au_certificate_content {
  display: grid;
  justify-content: center;
}

/** Image Style **/

.au_certificate__img {
  max-width: 30rem;
  max-height: 36rem;
}

.au_mobile_img {
  display: none;
}

/** Button Style **/
.button__container {
  position: absolute;
  right: 10rem;
}

.btn_style {
  background-color: transparent;
  color: var(--c-btn);
  border: 2px solid var(--c-btn);
  border-radius: 2px;
  padding: 0.5rem;
  width: 8rem;
  max-height: 2.5rem;
}

.btn_style:hover {
  color: white;
  background-color: #007dfa;
}

/** Media Query **/

@media only screen and (max-width: 768px) {
  .au_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .au_img__section {
    display: none;
  }
  .au_img__section_small {
    display: none;
  }
  .au_mobile_img {
    display: block;
  }
  .au_certificate_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .au_certificate_preview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .au_content__para {
    font-size: 0.8rem;
  }
  .au_content__header {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
  }
  .au_content__subheader {
    font-size: 1rem;
  }
  .au_content__para {
    padding: 1.5rem;
  }
  .au_text__section {
    padding-left: 0;
  }
  .au_header__wrapper {
    padding-top: 3rem;
    padding-left: 0;
  }
}
/** About Page Styling End **/
/*
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
*/
